

  @media (min-width: 600px)
  {
html, body {margin: 0; height: 100%; overflow-y: auto; overflow-x: hidden;  background-color: black}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Add a gray background color and some padding to the footer 
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

  /*.container-fluid
  {  
      background: url(Media/VaporwaveRetro.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }*/

  a
  {
    padding-top: 20px;
    color: #0095c2 ;
  }
  a:hover
  {
    color: #0095c2;
    text-decoration: none;
  }

  a:active, a:focus
  {
    outline: none;
    border: none;
    text-decoration: none;
  }

  #splashScreenRow
  {
    height:100vh;
  }

  .navbar
  {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 50;
  }

  #navbarName
  {
    height: 50%;
    width: 50%;
    padding-top: 5px;
  }

  .splashNameHolder
  {
    max-width:800px;
    margin:auto;
    position:relative;
    z-index:1;
    margin-top:40vh;
  }
  .splashIconHolder
  {
    max-width:50px;
    margin:auto;
    position:relative;
    bottom: 0px;
    z-index:1;
  }
    #sideBar
    {
      background-color: black;
      padding-top: 400px;
      height: 100vh;
      max-width: 100px;
      position: relative;
      left: 0px;
    } 
  

  #twitterBar
  {
    background-color: black;
    height:200vh;
    padding-top: 60px;
    padding-right: 10px;
    margin-left: 100px;
    right: 0px;
    overflow: hidden;
  }

  #myVideo 
  {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  #externalLinks
  {
    padding: 10px;
  }

  #mainContent
  {
    margin-left: 100px;
    width: 80vw;  
    color: white;      
    background-color: black;
  }

  #aboutSection
  {
    min-height: 100vh;
    
    overflow: hidden;
  }

  #workSection
  {
    min-height: 100vh;
    
    overflow: hidden;
  }

  #contactSection
  {
    min-height: 100vh;    
    overflow: hidden;
  }

  .button
  {
    background:url(Media/dashIconV2.png)  no-repeat;
    background-size: 60%;
    border: none;
    height: 10px;
    width: 80px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .button:hover
  {
    background-size: 100%;
  }
  .button:active, .button:focus, .button
  {
    outline: none;
    border: none;
  }
  .bg-3
  {
    padding-top: 60px;
  }
  #sideBarContainer
  {
    background-color: black;
    position: fixed;
    height: 100%;
    z-index: 40;
  }

  #aboutIcon
  {
    top: 5px;
    padding: 10px;
    width: 20vh;
    height: 20vh;
  }

  #workSubContainer
  {
    margin-right: 40px;
    margin-left: 40px;
  }

  #wrapper
  {
    max-width: 1920px;
    margin: 0 auto;
    overflow:hidden;
  }

  #currentWorkVideo
  {
    max-width:600px;
    max-height:250px;
  }

  #skillImageHolder
  {
    margin-right: 5%;
    margin-left: 5%;
    right: 0px;
  }
  
  #aboutSectionContentsHolder
  {
    width: 40vw;
    margin: 0px;
    padding: 0px;
  }
  #previousVideo
  {
    width: 300px;
    height: 250px;
  }

  #subContentContainer
  {
    margin-left: 40px;
  }
  }
  

  @media (max-width: 601px)
  {
    #splashContainer
    {
      display: none !important;
    }

  #currentWorkVideo
  {
    width:250px;
    height:200px;
  }

  #previousVideo
  {
    width: 250px;
    height: 200px;
  }
    #sideBarContainer
  {
    background-color: black;
    position: fixed;
    height: 100%;
    z-index: 40;
    padding:0px;
  }
    #sideBar
    {
      background-color: black;
      height: 100vh;
      max-width: 50px;
      position: relative;
      left: 0px;
    }
    
    #mainContent
  {
    margin-left: 50px;  
    color: white;      
    background-color: black;
  }

  .navbar
  {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 50;
  }

  #navbarName
  {
    height: 50%;
    width: 50%;
    padding-top: 5px;
  }
  #twitterBar
  {
    background-color: black;
    width: 300px;
    margin-left:50px;
  }  

  #aboutIcon
  {
    margin-top:60px;
    margin-left: 10px;
    padding: 5px;
    width: 40vh;
    height: 40vh;
  }
  
  #aboutSectionContentsHolder
  {
    margin: 0px;
    padding: 0px;
  }
  }